version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: pieworks_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: pieworks
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./backend/database/schema.sql:/docker-entrypoint-initdb.d/init.sql
    restart: always

  backend:
    build: ./backend
    container_name: pieworks_backend
    ports:
      - "5000:5000"
    environment:
      - DATABASE_URL=postgres://postgres:password@postgres:5432/pieworks
      - PORT=5000
    depends_on:
      - postgres
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev
    restart: always

volumes:
  postgres_data:
